[Unit]
Description=SIT Rabbit Proxy Service
After=network.target

[Service]
User=sunnysab
WorkingDirectory=/home/sunnysab/ip-changer/
ExecStart=/bin/sh -c ".venv/bin/python proxy.py"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target